extends app.pug
block titulo
    title Lista de Clientes

block conteudo
    h1 Lista de Clientes
    table.table.table-striped.table-hover.text-center
        thead
            tr
                th(scope="col") #
                th(scope="col") Nome
                th(scope="col") E-mail
                th(scope="col") Ações
        tbody
            each client in clients
                tr
                    th(scope="row") #{client.id}
                    td
                        a.text-decoration-none.link-dark(href=`/client/${client.id}`) #{client.name}
                    td #{client.email}
                    td
                        a.btn.btn-success(href=`/client/${client.id}/edit` title="Editar")
                            i.fa-solid.fa-pen-to-square
                        form.d-inline.ms-2(action=`/client/${client.id}?_method=DELETE` method="post")
                            button.btn.btn-danger(type="submit" title="Deletar" onclick="return confirm('Tem certeza que deseja excluir o registro?');")
                                i.fa-solid.fa-trash-can.d-inline

    a.btn.btn-dark.ms-2(href="/client/create") Cadastrar Novo Cliente