extends app.pug
block titulo
    title Detalhes do(a) Cliente: #{client.name}

block conteudo
        div.card.mt-4
            h5.card-header Detalhes do(a) Cliente: #{client.name}
            div.card-body
                p.card-text
                    strong ID:
                    |  #{client.id}
                p.card-text
                    strong Nome:
                    |  #{client.name}
                p.card-text
                    strong E-mail:
                    |  #{client.email}
                p.card-text
                    strong Data de Criação:
                    |  #{client.createdAt}
                p.card-text
                    strong Data de Atualização:
                    |  #{client.updatedAt}

                a.btn.btn-primary(href=`/client/${client.id}/edit`) Editar
                a.btn.btn-dark.ms-2(href="/") Voltar